body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  color: #40514E;
}

h1{
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 100px;
  margin-top: 50px;
  margin-bottom: 0;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #40514E;
}

hr {
  border: dotted #40514E 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.middle-container{
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0px 20px;
}

.contact-message{
  width: 40%;
  margin: 50px auto;
}


.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: relative;
  left: 300px;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration:none;
}
a:hover{
  color: #EAF6F6;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;
}

.span {
  text-decoration: underline;
}

.pp{
  margin-top: 500px;
}

.intro{
  width: 30%;
  margin: auto auto 50px auto;
  line-height: 2;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align:left;
  line-height: 2;
}

.code-img{
  width: 25%;
  float: left;
  margin-right:30px;
}

.chilli-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
	box-shadow: 0px 1px 0px 0px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 0px 50px #283966;
  margin-bottom: 50px;
}
.btn:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.btn:active {
	position:relative;
	top:1px;
}
